@model Cupom

@{
    ViewData["Title"] = "Cupom";
}

<h3>Detalhe do Cupom</h3>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayFor(model => model.CodigoCupom)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayFor(model => model.Tipo)
        </dt>
    </dl>
    <dl class="row">
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Emissão)
        </dd>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Vencimento)
        </dd>
    </dl>
    <dl class="row">
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Emissão)
        </dd>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Vencimento)
        </dd>
    </dl>
    <dl class="row">
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.PrimeiroPedido)
        </dd>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.CompraMaxima)
        </dd>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.CompraMinima)
        </dd>
    </dl>
</div>
<hr />
<div>
    <a asp-action="Edit" asp-route-id="@Model.CupomId">Editar</a> |
    <a asp-action="Index" class="btn btn-outline-info">Retornar</a>
</div>
