@model CarrinhoCompraViewModel

@{
    ViewData["Title"] = "";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="carrinho-compra" style="width:80%; margin:0 auto; padding: 20px;">

    <div>
        <h2 style="padding: 20px; font-size: 1.5rem;"> Seu carrinho de compras: </h2>
    </div>


    <table class="carrinho-itens">
        <thead>
            <tr>
                <th>Quantidade</th>
                <th>Lanche</th>
                <th class="text-right">Preço</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CarrinhoCompra.CarrinhoCompraItens)
            {
                <tr>
                    <td class="text-center">
                        @item.Quantidade
                    </td>
                    <td class="text-left">
                        @item.Lanche.Nome
                    </td>
                    <td class="text-right">
                        @((item.Quantidade * item.Lanche.Preco).ToString("c"))
                    </td>
                    <td class="text-center">
                        <a asp-controller="CarrinhoCompra" asp-action="RemoverItem" asp-route-lancheId="@item.Lanche.LancheId"><img src="~/images/Lanches/delete.png" /></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="carrinho-total">
        <p> Total:</p>
        <p>@Model.CarrinhoCompraTotal.ToString("C2") </p>
    </div>

    <div class="carrinho-op" role="group" aria-label="basic">
            <a class="btn btn-success" asp-controller="Pedido" asp-action="Checkout">Encerrar Pedido</a>
            <a asp-controller="Lanche" asp-action="List"><b>Adicionar mais lanches</b></a>
        </div>
    </div>
