@model IEnumerable<Categoria>

@{
    ViewData["Title"] = "Categorias";
}

<div class="content-admin">

    <div class="container-column">
        <div class="header-content">
            <h2> Gerenciamento de Categorias </h2>
            <a class="button-admin" asp-action="Create" asp-controller="AdminCategoria" asp-area="Admin"> Criar Categoria </a>
        </div>

        <div class="accordion" id="accordionFlushExample">

            @foreach (var categoria in Model)
            {
                <div class="accordion-item">
                    <h2 class="accordion-header" id="@String.Concat("flush-headingOne", categoria.CategoriaId)">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#@String.Concat("flush-collapse", categoria.CategoriaId)" aria-expanded="false" aria-controls="@String.Concat("flush-collapse", categoria.CategoriaId)">
                            <p>
                                <span>@categoria.Nome</span>
                            </p>
                        </button>
                    </h2>

                    <div id="@String.Concat("flush-collapse", categoria.CategoriaId)" class="accordion-collapse collapse" aria-labelledby="@String.Concat("flush-headingOne", categoria.CategoriaId)">
                        <div class="accordion-body text-dark">
                            <p>
                                @Html.DisplayNameFor(model => categoria.Descricao):
                                @Html.DisplayFor(model => categoria.Descricao)
                            </p>
                            <nav>
                                <ul>
                                    <li><a class="text-dark" asp-action="Edit" asp-route-id="@categoria.CategoriaId">Editar</a></li>
                                    <li><a class="text-dark" asp-action="Delete" asp-route-id="@categoria.CategoriaId">Tirar de Produção </a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</div>



