@model CheckoutViewModel

@{
    ViewData["Title"] = "Pedido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <h1 class="title-checkout">Checkout</h1>

    <form asp-action="CheckoutFinal" asp-controller="Pedido" method="post" role="form">

        <div style="color: yellow" asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row">
            <div class="container-checkout">

                <div class="cupom-body">
                    <div class="form-floating">
                        <input asp-for="codCupom" type="text" class="form-control" id="codigo-cupom" placeholder="Código Cupom">
                        <label for="codigo-cupom">CodidoCupom</label>
                    </div>

                    <button type="button" onclick="validarCupom()" class="botao-entrar botao-validar-cupom"> Validar Cupom </button>
                </div>


                <table class="table tabela-lanches">
                    <thead>
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">Quantidade</th>
                            <th scope="col">Preço</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var lanche in Model.Carrinho.CarrinhoCompraItens)
                        {
                            <tr>
                                <td>@lanche.Lanche.Nome</td>
                                <td>@lanche.Quantidade</td>
                                <td>@lanche.Lanche.Preco</td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">@Html.DisplayNameFor(model => model.TotalCarrinho):</th>
                            <th id="valor-carrinho" scope="col">@Html.DisplayFor(model => model.TotalCarrinho)</th>
                        </tr>
                        <tr id="cupom-desconto">
                            <th scope="col"></th>
                            <th scope="col">Desconto:</th>
                            <th id="valor-desconto" scope="col"></th>
                        </tr>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">@Html.DisplayNameFor(model => model.TotalFinal):</th>
                            <th id="valor-final" scope="col">@Html.DisplayFor(model => model.TotalFinal)</th>
                        </tr>
                    </tfoot>
                </table>

                <div class="submit-input">
                    <input type="submit" class="botao-cadastrar botao-validar-cupom finalizar-pedido" value="Finalizar Pedido" />
                </div>
            </div>

            <div class="container-checkout">

                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="tipoEntrega" id="retirada" onclick="removerEndereco(); pedidoRetirada();" autocomplete="off" checked>
                    <label class="btn btn-outline-warning" for="retirada">Retirada</label>

                    <input type="radio" class="btn-check" name="tipoEntrega" id="entrega" onclick="pedidoEntrega()" autocomplete="off">
                    <label class="btn btn-outline-warning" for="entrega">Entrega</label>
                </div>

                <div class="collapse show" id="collapse-tipo-entrega">

                    @if (Model.EnderecoUser.Count() > 0)
                    {
                        <h3 style="margin: 20px 0"> @Html.DisplayNameFor(model => model.EnderecoUser) </h3>

                        <div id="groupRadioEntrega">
                            @foreach (var endereco in Model.EnderecoUser)
                            {
                                <div class="form-check check-endereco">
                                    <input onclick="getEndereco(@endereco.EnderecoId)" class="form-check-input" type="radio" name="radioEntrega" id="@string.Concat("radioEntrega", endereco.EnderecoId)">
                                    <label class="form-check-label" for="@string.Concat("radioEntrega", endereco.EnderecoId)">
                                        @endereco.Detalhe
                                    </label>
                                </div>
                            }

                            <div class="form-check">
                                <input onclick="removerEndereco()" class="form-check-input" type="radio" name="radioEntrega" id="radioEntregaEmpty">
                                <label class="form-check-label" for="radioEntregaEmpty">Outro</label>
                            </div>
                        </div>
                    }

                    <div id="form-enderecoEntrega" class="">

                        <input type="hidden" id="endereco-Id" asp-for="EnderecoPedido.EnderecoId" class="" disabled />
                        <input type="hidden" id="endereco-userId" asp-for="EnderecoPedido.UserId" class="" disabled/>
                        <input asp-for="EnderecoPedido.Detalhe" type="hidden" class="form-control" id="endereco-detalhe" disabled>
                        <input asp-for="EnderecoPedido.Cep" type="hidden" class="form-control" id="endereco-cep" disabled>


                        <div class="form-floating inputs-endereco">
                            <span asp-validation-for="EnderecoPedido.Estado" class=""></span>
                            <input asp-for="EnderecoPedido.Estado" type="text" class="form-control" id="endereco-estado" placeholder="Estado" disabled> 
                            <label for="endereco-estado">Estado</label>
                        </div>

                        <div class="form-floating inputs-endereco">
                            <span asp-validation-for="EnderecoPedido.Cidade" class=""></span>
                            <input asp-for="EnderecoPedido.Cidade" type="text" class="form-control" id="endereco-cidade" placeholder="Cidade" disabled>
                            <label for="endereco-cidade">Cidade</label>
                        </div>

                        <div class="form-floating inputs-endereco">
                            <span asp-validation-for="EnderecoPedido.Bairro" class=""></span>
                            <input asp-for="EnderecoPedido.Bairro" type="text" class="form-control" id="endereco-bairro" placeholder="Bairro" disabled>
                            <label for="endereco-bairro">Bairro</label>
                        </div>

                        <div class="form-floating inputs-endereco">
                            <span asp-validation-for="EnderecoPedido.Rua" class=""></span>
                            <input asp-for="EnderecoPedido.Rua" type="text" class="form-control" id="endereco-rua" placeholder="Rua" disabled>
                            <label for="endereco-rua">Rua</label>
                        </div>

                        <div class="form-floating inputs-endereco">
                            <span asp-validation-for="EnderecoPedido.Numero" class=""></span>
                            <input asp-for="EnderecoPedido.Numero" type="text" class="form-control" id="endereco-numero" placeholder="Número" disabled>
                            <label for="endereco-numero">Bairro</label>
                        </div>

                        <div class="form-floating inputs-endereco">
                            <span asp-validation-for="EnderecoPedido.Complemento" class=""></span>
                            <input asp-for="EnderecoPedido.Complemento" type="text" class="form-control" id="endereco-complemento" placeholder="Complemento" disabled>
                            <label for="endereco-complemento">Complemento</label>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <input id="id-cupom-checkout" type="hidden" asp-for="idCupom" />

    </form>

</div>

