@model PedidoViewModel

@{
    ViewData["Title"] = "Pedido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="chekout">

    <div class="title ">
        <h2>Obrigado pelo seu pedido!!! :) </h2>
    </div>
    <div class="chekout-content">

        <div class="chekout-user">
            <p>Cliente : <strong>@Model.Nome</strong>
            <p>Data do Pedido :  <strong>@Model.Pedido.PedidoRecebido</strong>
            <p>Número do Pedido   : <strong>@Model.Pedido.PedidoId</strong></p>
        </div>


        <table class="chekout-lanche">
            <thead>
                <tr>
                    <th></th>
                    <th>Quantidade</th>
                    <th>Lanche</th>
                    <th>Preço</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model.Itens)
                {
                    <tr>
                        <td><img src="@item.Lanche.ImagemURL" width="40" height="40" /></td>
                        <td>@item.Quantidade</td>
                        <td>@item.Lanche.Nome</td>
                        <td>@item.Lanche.Preco</td>
                    </tr>
                }
            </tbody>

        </table>

        <div class="chekout-preco">
            <h4>Valor Total do Pedido: </h4>
            <p> <strong>@Model.Pedido.PedidoTotal.ToString("C2") </strong> </p>
        </div>
    </div>
</div>
