@model PedidoViewModel

@section bootstrap{

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
}


<div class="container marginTop1">

    <div class="jumbotron">
        <h2>Pedido Finalizado</h2>
    </div>
    <div class="card">
        <div class="card-body">
            <p>Cliente : <strong>@Model.User.UserName</strong>
            <p>Data do Pedido :  <strong>@Model.pedido.PedidoRecebido</strong>
            <p>Número do Pedido   : <strong>@Model.pedido.PedidoId</strong></p>
            <table class="table">
                <tr>
                    <th></th>
                    <th>Quantidade</th>
                    <th>Lanche</th>
                    <th>Preço</th>
                </tr>
                @foreach (var item in Model.Itens)
                {
                    <tr>
                        <td><img src="@item.Lanche.ImagemThumbURL" width="40" height="40" /></td>
                        <td>@item.Quantidade</td>
                        <td>@item.Lanche.Nome</td>
                        <td>@item.Lanche.Preco</td>
                    </tr>
                }
            </table>
            <h4>Valor Total do Pedido: <strong>@Model.pedido.PedidoTotal.ToString("C2"))</strong></h4>
        </div>
    </div>
</div>
