@model Lanche


<div class="">

    <div class="img-thumbnail">

        <img src="@Model.ImagemThumbURL" class="" />

    </div>

    <div class="">

        <h3 class=""> @Model.Preco.ToString("c") </h3>

        <h3>
            <a asp-controller="Lanche" asp-action="Details" asp-route-lancheId="@Model.LancheId">
                @Model.Nome
            </a>
        </h3>

        <p> @Model.DescricaoCurta </p>

    </div>

    <div >
        <p>
            <a class="" asp-controller="CarrinhoCompra" asp-action="AdicionarItem" asp-route-lancheId="@Model.LancheId">
                Incluir no Carrinho
            </a>
        </p>
    </div>

</div>