@model Lanche


<div class="container-row container-page">

    <div class="img-lanche">
        <img src="@Model.ImagemURL" class="" alt="@Model.Nome" />
    </div>
    
    <div class="info" >
        <h2 class="title">
            <a asp-controller="Lanche" asp-action="Details" asp-route-lancheId="@Model.LancheId">@Model.Nome</a>
        </h2>

        <p class="descricao-curta"> @Model.DescricaoCurta </p>


        <div class="compra">
            <span class="preco"> @Model.Preco.ToString("c") </span>

            <a class="btn-carrinho" asp-controller="CarrinhoCompra" asp-action="AdicionarItem" asp-route-lancheId="@Model.LancheId">
                Incluir no Carrinho
            </a>
        </div>
    </div>

 

</div>

