@model IEnumerable<Lanche>

@{
    ViewData["Title"] = "Index";
}

<div class="content-admin">

    <div class="container-column">
        <div class="header-content">
            <h2> Gerenciamento de Lanches </h2>
            <a class="button-admin" asp-action="Create" asp-controller="AdminLanche" asp-area="Admin"> Criar Lanche </a>
        </div>

        <div class="">
            <div class="form-admin">
                <table class="container-column">
                    <thead class="header-form">
                        <tr class="container-row">
                            <th class="content-form-2">
                                Nome
                            </th>
                            <th class="content-form-1">
                                Preco
                            </th>

                            <th class="content-form-4">
                                Descrição Curta
                            </th>
                            
                            <th class="content-form-2">
                                Categoria
                            </th>
                        </tr>
                    </thead>
                    <tbody class="body-form">
                        @foreach (var item in Model)
                        {
                        <tr class="container-row">
                            <td class="content-form-2">
                                @item.Nome
                            </td>

                            <td class="content-form-1">
                                @item.Preco.ToString("C2")
                            </td>

                            <td class="content-form-4">
                                <div class="content-form">
                                    @item.DescricaoCurta
                                </div>
                            </td>

                            <td class="content-form-2">
                                @item.Categoria
                            </td>
                            <td class="content-form-1 icons-form container-row">
                                <a asp-action="Edit" asp-route-id="@item.LancheId"><img src="~/images/editar-arquivo.svg" /> </a>

                                <a asp-action="Details" asp-route-id="@item.LancheId"><img src="~/images/visualizador.svg" /> </a>

                                <a asp-action="Delete" asp-route-id="@item.LancheId"><img src="~/images/remove.svg" /> </a>
                            </td>
                        </tr>
                            
                        }
                    </tbody>
                </table>

            </div>
        </div>

    </div>
</div>

