@model IEnumerable<Lanche>

@{
    ViewData["Title"] = "Lanches";
}

<div class="content-admin">

    <div class="container-column">
        <div class="header-content">
            <h2> Gerenciamento de Lanches </h2>
            <a class="button-admin" asp-action="Create" asp-controller="AdminLanche" asp-area="Admin"> Criar Lanche </a>
        </div>

        <div class="accordion" id="accordionFlushExample">

            @foreach (var lanche in Model)
            {
                <div class="accordion-item">
                    <h2 class="accordion-header" id="@String.Concat("flush-headingOne", lanche.LancheId)">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#@String.Concat("flush-collapse", lanche.LancheId)" aria-expanded="false" aria-controls="@String.Concat("flush-collapse", lanche.LancheId)">
                            <p>
                                <span>@lanche.Nome</span>
                                @if (lanche.EmEstoque)
                                {
                                    <span class="text-success">Em estoque</span>
                                }
                                else
                                {
                                    <span class="text-danger"> Fora de produção </span>
                                }
                            </p>
                        </button>
                    </h2>

                    <div id="@String.Concat("flush-collapse", lanche.LancheId)" class="accordion-collapse collapse" aria-labelledby="@String.Concat("flush-headingOne", lanche.LancheId)">
                        <div class="accordion-body text-dark">
                            <p>
                                @Html.DisplayNameFor(model => lanche.Preco)
                                @Html.DisplayFor(model => lanche.Preco)
                            </p>
                            <p>
                                @Html.DisplayNameFor(model => lanche.CategoriaId)
                                @Html.DisplayFor(model => lanche.CategoriaId)
                            </p>
                            <p>
                                @Html.DisplayNameFor(model => lanche.DescricaoCurta)
                                @Html.DisplayFor(model => lanche.DescricaoCurta)
                            </p>
                            <p>
                                @Html.DisplayNameFor(model => lanche.DescricaoDetalhada)
                                @Html.DisplayFor(model => lanche.DescricaoDetalhada)
                            </p>
                            <p>
                                    <div class="img-lanche">
                                    <img src="@lanche.ImagemURL" class="" alt="@lanche.Nome" />
                                </div>
                            </p>
                            <nav>
                                <ul class="quadrado">
                                    <li class ="quadrado"><a class="text-dark" asp-action="Edit" asp-route-id="@lanche.LancheId">Editar</a></li>
                                    <li class="quadrado">
                                        <a class="text-dark" asp-action="Delete" asp-route-id="@lanche.LancheId">
                                            @if (lanche.EmEstoque)
                                            {
                                                <span>Tirar do estoque</span>
                                            }
                                            else
                                            {
                                                <span>Adicionar ao estoque</span>
                                            }
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</div>

